* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 600px;
    width: 350px;
  }
  .container {
    background-color: rgb(7, 146, 81);
  }
  #container-btn {
    padding: 20px;
  }
  button {
    font-size: 30px;
    padding: 10px 10px;
    color: rgb(142, 165, 207);
    background-color: darkslateblue;
    border: none;
    border-radius: 10px;
  }
  input[type="text"] {
    font-size: 25px;
    text-align: center;
  }
  #error {
    color: white;
    text-align: center;
  }
  @media (min-width: 780px) {
    .container {
      max-width: 40%;
    }
  }